name: Archive CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Generate test archives
        run: nix run .#generateTestArchives

      - name: Run tests
        run: nix develop --command cargo test

      - name: Run doc tests
        run: nix develop --command cargo test --doc

      - name: Check documentation
        run: nix develop --command cargo doc --no-deps --document-private-items
        env:
          RUSTDOCFLAGS: "-D warnings"
